@import "tailwindcss";

:root {
    --primary: #4CAF50; /* Durian Leaf Green */
    --primary-dark: #388E3C;
    --accent: #FFC107; /* Durian Flesh Yellow */
    --bg-light: #F4F7F6;
    --text-dark: #333;
    --text-grey: #666;
    --white: #ffffff;
    --shadow: 0 4px 6px rgba(0,0,0,0.1);
    --radius: 12px;
}