# Ignore virtual environments
venv/
.venv/
env/
# Ignore cache files
__pycache__/
# Ignore environment variables
.env
# PWA compiler artifacts
/public/sw.js
/public/sw.js.map
/public/workbox-*.js
/public/workbox-*.js.map
/public/ts-to-js-extension-*.js
/public/ts-to-js-extension-*.js.map